<div class="wrapper">
    <user-header class="ltn__header-area ltn__header-5 ltn__header-transparent gradient-color-4---"></user-header>
    <user-cart-menu id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu"></user-cart-menu>
    <user-mobile-menu id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu"></user-mobile-menu>
    <div class="ltn__utilize-overlay"></div>
    <user-bread-crumb-area activePage="Account"></user-bread-crumb-area>

    <user-profile-area></user-profile-area>

    <user-feature-area class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5 mt-3"></user-feature-area>
    <user-footer-area class="ltn__footer-area  "></user-footer-area>
</div>